/* -------------------
General Settings 
---------------------*/
:root{
    --btn-clr: #E02C6D;
    --btn-hover-bg: gold;
    --header-bg: #2D25A0 ;

}
html{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1160px;
}
a{
    text-decoration: none;
}
.flexcenter{
    display: flex;
    justify-content: center;
}
.btn{
    background-color: var(--btn-clr);
    padding: 10px 20px;
    color: #fff;
}
.btn:hover{
    background-color: var(--btn-hover-bg);
}
/* -----------------
End of General Settings 
------------------------*/

/*  ---------------
Start Header Section
-------------------*/
header{
    background-color: var(--header-bg);

}
        /* Start Navbar */
        nav ul{
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
        }
        nav ul li:hover a{
            color: bisque;
        }
        nav ul li a{
            display: block;
            color: #ffffff;
            padding: 10px 20px;
        }
        #login{
            margin-left: auto;
            background-color: var(--btn-clr);
        }
        #login a{
            background-color: var(--btn-clr);
        }
        #login:hover a{
            background-color: var(--btn-hover-bg);
        }
        /* End of Navbar */


        /* Start Banner */
         #banner{
           padding: 20px; 
           display: grid; 
           grid-template-columns: 1fr 1fr;
         }
        
         #banner h1{
             color: #fff;
             font-size: 64px;
             font-weight: 600;
         }
         #banner img{
             max-width: 556px;
             justify-content: end;
             align-self: flex-end;
             transition: .3s ease-in-out;
         }
         #banner img:hover{
             transform: rotate(10deg) scale(1.1);
             
         }
        /* End of Banner */
/*  ---------------
End of Header Section
-------------------*/


/*  ---------------
Start Main Section
-------------------*/



/*  ---------------
End of Main Section
-------------------*/



/*  ---------------
Start Footer Section
-------------------*/
footer{
    /* display: flex;
    justify-content: center; */
    text-align: center;
}
footer img{
    max-width: 483.87px;
    
}
footer .social{
    text-align: center;
    padding-bottom: 16px;
}
footer .social i{
    color: #333;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    line-height: 32px;
    background-color: #969BAB;
}
footer .copy{
    text-align: center;
    font-size: 18px;
    color: #000;

}
/*  ---------------
End of Footer Section
-------------------*/